<!--
<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{},~{::title})}">
    <title>Vitrine de Produtos</title>
</head>
<body>
    <main class="container">
        <h3>Vitrine de Produtos</h3>
        <br>
        <form class="container" th:action="@{/itemVenda/cria}" method="post">
            <table class="table" border="1">
                <thead style="background-color: #f5f5dc;">
                <tr>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Operação</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="p : ${produtos}">
                    <td th:text="${p.descricao}"></td>
                    <td th:text="${#numbers.formatCurrency(p.valor)}"> </td>
                    <td>
                        <input type="hidden" name="descricao" th:value="${p.descricao}">
                        <input type="hidden" name="valor" th:value="${p.valor}">
                        <input type="hidden" name="quantidade" value="1">
                        <button type="submit" class="btn btn-primary">Add ao Carrinho</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </form>
    </main>
</body>
</html>
-->

<!DOCTYPE html>
<html th:replace="~{fragments/layout :: layout(~{::head},~{::main})}">
<head th:replace="~{fragments/head :: head(~{},~{::title})}">
    <title>Vitrine de Produtos</title>
</head>
<body>
    <main class="container">
        <h3 class="mt-3">Vitrine de Produtos</h3>
        <table class="table" border="1">
            <thead style="background-color: #f5f5dc;">
                <tr>
                    <th>Descrição</th>
                    <th>Valor</th>
                    <th>Operação</th>
                </tr>
            </thead>
            <tbody>

                    <tr th:each="p : ${produtos}">
                        <form class="container" th:action="@{/itemVenda/add}" th:object="${itemVenda}" method="post">
                            <input th:hidden="${p.id}">
                            <td th:text="${p.descricao}"></td>
                            <td th:text="${#numbers.formatCurrency(p.valor)}"> </td>
                            <td>
                                <input type="hidden" name="quantidade" value="1">
                                <input class="btn btn-primary" type="submit" value="Add Carrinho">
                            </td>
                        </form>
                    </tr>
            </tbody>
        </table>
    </main>
</body>
</html>
